@model CadastroPrimoMoveis.Models.ClienteModel

@{
    ViewData["Title"] = "Detalhes";
}

<div class="align-center">
    <h4>Detalhes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cnpj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumTelefone1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumTelefone1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumTelefone2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumTelefone2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataUltimaAtualizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataUltimaAtualizacao)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-controller="Cliente" asp-action="Index">Voltar</a>
</div>
